<center>
   <h1><%= I18n.t("xtiss.index.title") %></h1>
</center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "07/11/2013") %> </p>
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
<div class="metro-surface">
   <center>
      <table>
         <tr>
            <td>
               <a href="#how_it_works_inner">
                  <div class="metro-tile metro-tile-small "><%= I18n.t("xtiss.index.table_of_contents.how_it_works") %></div>
               </a>
            </td>
            <td>
               <a href="#features_yield_inner">
                  <div class="metro-tile"><%= I18n.t("xtiss.index.table_of_contents.features_yield") %></div>
               </a>
            </td>
            <td>
               <a href="#who_uses_inner">
                  <div class="metro-tile"><%= I18n.t("xtiss.index.table_of_contents.who_uses") %></div>
               </a>
            </td>
         </tr>
      </table>
   </center>
</div>


<!--O que é? -->
<div id ="how_it_works" > &nbsp </div>
<h2 id="how_it_works_inner"><%= I18n.t("xtiss.index.table_of_contents.how_it_works") %></h2>
<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("xtiss.index.how_it_works.paragraph_1") %></p>


<!--Funcionalidades e Finalidades -->
<div id ="features_yield" > &nbsp </div>
<h2 id="features_yield_inner"><%= I18n.t("xtiss.index.table_of_contents.features_yield") %></h2>
<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("xtiss.index.features_yield.paragraph_1") %></p>
<div class="row-fluid">
   <br>
   <p><strong><%= I18n.t("xtiss.index.features_yield.feature_1") %></strong></p>
   <p>
   <li><%= I18n.t("xtiss.index.features_yield.feature_2") %></li>
   </p>
   <p>
   <li><%= I18n.t("xtiss.index.features_yield.feature_3") %></li>
   </p>
   </br>
   <p>
   <p><strong><%= I18n.t("xtiss.index.features_yield.feature_4") %></strong></p>
   </p>
   <p>
   <li><%= I18n.t("xtiss.index.features_yield.feature_5") %></li>
   </p>
   <p>
   <li><%= I18n.t("xtiss.index.features_yield.feature_6") %></li>
   </p>
   <p>
   <li><%= I18n.t("xtiss.index.features_yield.feature_7") %></li>
   </p>
</div>


<!-- Quem usa -->
<div id ="who_uses" > &nbsp </div>
<h2 id="who_uses_inner"><%= I18n.t("xtiss.index.table_of_contents.who_uses") %></h2>
<p style="text-indent: 3em; text-align: justify;"><%= I18n.t("xtiss.index.who_uses.paragraph_1") %></p>
<div class="row-fluid">
   <div class="span7">
      <br><br>
      <ul class="lista">
         <li> <strong><%= I18n.t("xtiss.index.who_uses.item_1") %></strong></li>
         <li> <strong><%= I18n.t("xtiss.index.who_uses.item_2") %></strong></li>
         <li> <strong><%= I18n.t("xtiss.index.who_uses.item_3") %></strong></li>
         <li> <strong><%= I18n.t("xtiss.index.who_uses.item_4") %></strong></li>
         <li> <strong><%= I18n.t("xtiss.index.who_uses.item_5") %></strong></li>
      </ul>
   </div>
   <div class="span5" style="text-align: center;">
      <img src="/img/xtiss/controle.jpg"   />
   </div>
</div>


<!--Botão proximo -->
<ul class="pager">
   <li class="next">
      <%= link_to(I18n.t("understanding_the_system.index.title")+ " &rarr;", "understanding_the_system") %>
   </li>
</ul>