<center>
   <h1><%= I18n.t("logs.index.title") %></h1>
</center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "27/07/2015") %></p>
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
<div class="metro-surface">
	<center>
		<table>
			<tr>
				<td>
					<a href="#log_inner">
						<div class="metro-tile "><%= I18n.t("logs.index.table_of_contents.log") %></div>
					</a>
				</td>	 
			</tr>
		</table>
	</center>
</div>


<!-- logs -->
<div id ="log" > &nbsp </div>
<h2 id="log_inner"><%= I18n.t("logs.index.log.item_1") %></h2>
<div class="row-fluid">
   <center><img src="/img/logs/logmenu.png "  /></center>
<br/>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("logs.index.log.item_3") %></p>
<br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("logs.index.log.item_2") %></p>
<br/><br/>
   <center><img src="/img/logs/logs.png "  /></center>
</div>
<br/><br/><br/><br/>



<!--Botões -->
<ul class="pager">
   <li class="previous"><%= link_to("&larr; " + I18n.t("config.index.title"), "config") %></li>
   <li class="next"><%= link_to(I18n.t("downloads.index.title") + " &rarr;", "downloads") %></li>
</ul>