<center>
   <h1><%= I18n.t("files.index.title") %></h1>
</center>
<p class="more-info"><%= I18n.t("general.updated_at", :date => "27/07/2015") %></p>
<h3><%= I18n.t("general.index") %></h3>


<!--Indice -->
<div class="metro-surface">
	<center>
		<table>
			<tr>
				<td>
					<a href="#send_file_inner">
						<div class="metro-tile "><%= I18n.t("files.index.table_of_contents.send_file") %></div>
					</a>
				</td>	 
				<td>
					<a href="#search_files_inner">
						<div class="metro-tile "><%= I18n.t("files.index.table_of_contents.search_files") %></div>
				    </a>
				</td>
				<td>
					<a href="#received_files">
						<div class="metro-tile "><%= I18n.t("files.index.table_of_contents.received_files") %></div>
				    </a>
				</td>
			</tr>
		</table>
	</center>
</div>


<!--send_files -->
<div id ="send_file" > &nbsp </div>
<h2 id="send_file_inner"><%= I18n.t("files.index.table_of_contents.send_file") %></h2>
<div class="row-fluid">
   <center><img src="/img/files/enviar.png"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("files.index.send_file.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.send_file.item_2") %></p>
   <br/>
   <center><img src="/img/files/enviar1.png"  /></center>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.send_file.item_3") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.send_file.item_4") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.send_file.item_5") %></p>
   <br/>
   <center><img src="/img/files/erros.png"  /></center>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.send_file.item_6") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.send_file.item_7") %></p>
   <br/>
   <center><img src="/img/files/enviado.png"  /></center>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.send_file.item_8") %></p>
</div>
<br/><br/><br/><br/>


<!-- search_files -->
<div id ="search_files" > &nbsp </div>
<h2 id="search_files_inner"><%= I18n.t("files.index.table_of_contents.search_files") %></h2>
<div class="row-fluid">
   <center><img src="/img/files/pesquisar.png"  /></center>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("files.index.search_files.item_1") %></p>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.search_files.item_2") %></p>
   <br/>
   <center><img src="/img/files/pesquisar2.png"  /></center>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.search_files.item_3") %></p>
   <br/>
   <center><img src="/img/files/pesquisar3.png"  /></center>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.search_files.item_4") %></p>
</div>
<br/><br/><br/><br/>


<!-- received_files -->
<div id ="received_files" > &nbsp </div>
<h2 id="received_files_inner"><%= I18n.t("files.index.table_of_contents.received_files") %></h2>
<div class="row-fluid">
   <center><img src="/img/files/recebidos.png"  /></center>
   <br/><br/>
   <p align="right" style="font-weight:bold;font-size:small;margin-right:2cm;"><%= I18n.t("files.index.received_files.item_1") %></p>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.received_files.item_2") %></p>
   <br/>
   <center><img src="/img/files/recebidos2.png"  /></center>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.received_files.item_3") %></p>
   <br/>
   <center><img src="/img/files/recebidos3.png"  /></center>
   <br/><br/>
   <p style="text-indent: 3em; text-align: justify;"> <%= I18n.t("files.index.received_files.item_4") %></p>
</div>
<br/><br/><br/><br/>



<!--Botões -->
<ul class="pager"> 
   <li class="previous"><%= link_to("&larr; " + I18n.t("principal.index.title"), "principal") %></li>
   <li class="next"><%= link_to(I18n.t("config.index.title") + " &rarr;", "config") %></li>
</ul>